*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #fff;
    color: #222;
    padding: 0;
    height: 100vh;
}

.theme-options {
  
 color:#222;
    margin: 4% 2.5%;
   display: inline-flex;
   padding: 0.5%;
   cursor: pointer;
   background:  rgba(255, 255, 255, 0.3);
 
   border-radius: 40px;
   box-shadow: var(--shadow);
   vertical-align: middle;
   align-items: center;
   justify-content: center;

 
  
    
   

    #theme-sun {
        background-color: transparent;
        margin: 4px 20px 4px 20px;
        &:hover{    border-radius: 20px;
            transform: scale(1.8);
            padding: 4px;
            background:#fff;
    }
        &.active {
            border-radius: 20px;
            transform: scale(1.8);
            padding: 4px;
            background: #fff;
    }
        }
    
    #theme-moon {
        background-color: transparent;
        margin: 4px 20px 4px 20px;     
        &:hover{    border-radius: 20px;
            transform: scale(2);
            padding: 4px;
              background: var(--clearbg);}
        &.active {
            border-radius: 20px;
            transform: scale(2);
            padding: 4px;
              background: var(--clearbg);}
        }
    
    #theme-cloud {
        background-color: transparent;
        margin: 4px 20px 4px 20px;  
        &:hover{    border-radius: 20px;
            transform: scale(1.7);
            padding: 4px;
              background: var(--clearbg);}
        &.active {
            border-radius: 20px;
            transform: scale(1.7);
            padding: 4px;
              background: var(--clearbg);}
        }
   
    #theme-rainbow {
        background-color: transparent;
        margin: 4px 20px 4px 20px;        
        &:hover{    border-radius: 20px;
            transform: scale(1.6);
            padding: 4px;
              background: var(--clearbg);}
        &.active {
            border-radius: 20px;
            transform: scale(1.6);
            padding: 4px;
              background: var(--clearbg);}
        }
    }


.content-box {
    margin: 0 auto;
    color: #222;
    padding: 0 4%;
    background-color: transparent;
    h3{
        line-height: 1.2;
        margin: 0;
        font-size: 26px;
    }
    h5 {
        line-height: 1.5;
        margin: 0 0 22px 0;
        font-size: 20px;
    }
}

.Main.theme-moon {
    background-color: #2b2b2b;
    .content-box{
       
        h3, h5 {
            color: #fff;
        }
        p {
            color: #ccc;
        }
    }
}

.Main.theme-sun {
    background-color: #c2c2c2;
    .content-box{
        background-color:#f8ffd6 ;
        h3, h5 {
            color: rgb(45, 45, 45);
        }
        p {
            color: rgb(31, 31, 31);
        }
    }
}

.Main.theme-cloud {
    background-color: #717171;
    .content-box{
        background-color:#aeb7d3c2 ;
        h3, h5 {
            color: rgb(30, 30, 30);
        }
        p {
            color: rgb(20, 20, 20);
        }
    }
}

.Main.theme-rainbow {
    background: linear-gradient(-45deg, #FF7878, #FFC898, #FFF89A, #CDF2CA, #A2CDCD, #D1E8E4,#CAB8FF);
	background-size: 100%;
	// animation: gradient 8s ease infinite;


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .content-box{
        h3, h5 {
            color: rgb(67, 67, 67);
        }
        p {
            color: rgb(57, 57, 57);
        }
    }
}