*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #fff;
    color: #222;
    padding: 0;
    height: 100vh;
}

.theme-options {
  
 color:#222;
    // margin: 4% 2.5%;
   display: inline-flex;
   padding: 0.5%;
   margin-right: 2%;
   cursor: pointer;
   background:  rgba(255, 255, 255, 0.3);
  width:fit-content;
  height: 40px;
   border-radius: 40px;
   box-shadow: var(--shadow);
   vertical-align: middle;
   align-items: center;
   justify-content: center;

 
  
    
   

    #theme-sun {
        background-color: transparent;
        margin: 4px 20px 4px 20px;
        &:hover{    border-radius: 20px;
            transform: scale(1.8);
            padding: 4px;
            background:#fff;
    }
        &.active {
            border-radius: 20px;
            transform: scale(1.8);
            padding: 4px;
            background: #fff;
    }
        }
    
    #theme-moon {
        background-color: transparent;
        margin: 4px 20px 4px 20px;     
        &:hover{    border-radius: 20px;
            transform: scale(2);
            padding: 4px;
              background: var(--clearbg);}
        &.active {
            border-radius: 20px;
            transform: scale(2);
            padding: 4px;
              background: var(--clearbg);}
        }
    
    #theme-cloud {
        background-color: transparent;
        margin: 4px 20px 4px 20px;  
        &:hover{    border-radius: 20px;
            transform: scale(1.7);
            padding: 4px;
              background: var(--clearbg);}
        &.active {
            border-radius: 20px;
            transform: scale(1.7);
            padding: 4px;
              background: var(--clearbg);}
        }
   
    #theme-rainbow {
        background-color: transparent;
        margin: 4px 20px 4px 20px;        
        &:hover{    border-radius: 20px;
            transform: scale(1.6);
            padding: 4px;
              background: var(--clearbg);}
        &.active {
            border-radius: 20px;
            transform: scale(1.6);
            padding: 4px;
              background: var(--clearbg);}
        }
    }

header-box {
    div{
        display: flex;
        vertical-align: middle;
        
            }
}

.content-box {
    margin: 0 auto;
    color: #222;
    padding: 2% 4%;
    background-color: transparent;

    h3{
        line-height: 1.2;
        margin: 0;
        font-size: 26px;
    }
    h5 {
        line-height: 1.5;
        margin: 0 0 22px 0;
        font-size: 20px;
    }
}

.post-box{
    padding: 1%;
    margin-bottom: 4%;
    border-radius: 20px;
    box-shadow: var(--shadow);
  }

  .categories {
    margin-right: 4%;
    cursor: pointer;
    font-size: 1rem;
    width: fit-content;
    padding: 0.5% 2%;
    margin: 4% 0;
    border-radius: 40px;
    height: 40px;
    padding: 1% 2%;
  
  
    a{
    
      box-shadow: var(--shadow);
      white-space: nowrap;
      margin-right: 2%;
  
     
    }
   
    // &.active a{
  
    //   background: rgba(255, 255, 255, 0.6);
    
    // }
    // &:hover a{
      
    //   background: rgba(255, 255, 255, 0.6);
    // }
    
  }
  



.Main.theme-moon {
    background-color: #2b2b2b;
    .content-box{
       
        h3, h5, p {
            color: rgb(245, 245, 245);;
        }
        .post-box { background-color: rgba(25, 25, 25, 0.9);}
      
    }
}

.Main.theme-sun {
    background-color: #c2c2c2;
    .content-box{
        background-color:#f6f6f6 ;
        h3, h5,p {
            color: rgb(45, 45, 45);
        }
        .post-box { background-color: rgba(25, 25, 25, 0.9);}
     
    }
}

.Main.theme-cloud {
    background-color: #717171;
   
    .content-box{
        background-color:#c1c5d3 ;
        h3, h5,p {
            color: rgb(245, 245, 245);
        }
        .post-box {background-color: rgba(255, 255, 255, 0.9);}
    
    }
}

.Main.theme-rainbow {
    background: linear-gradient(-45deg, #FF7878, #FFC898, #FFF89A, #CDF2CA, #A2CDCD, #D1E8E4,#CAB8FF);
	background-size: 100%;
	// animation: gradient 8s ease infinite;


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .content-box{
        h3, h5 {
            color: rgb(67, 67, 67);
        }
        p {
            color: rgb(57, 57, 57);
        }
        .post-box {background-color: rgba(255, 255, 255, 0.9);}
        #cat-link {
            &:nth-child(1) a { background: #636393; }
&:nth-child(2) a { background: #B5222D; }
&:nth-child(3) a { background: #D4953C; }
&:nth-child(4) a { background: #609491; }
    
    }
 
    }}
